@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: 239 68 68;   /* default = red-400 */
}

[data-theme="blue"] {
  --primary: 59 130 246;
}

[data-theme="yellow"] {
  --primary: 234 179 8;
}

[data-theme="green"] {
  --primary: 34 197 94;
}